.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.productContainer {
  width: 300px;
  height: 500px;
  border: 10px solid green;
  border-radius: 20px;
  margin: 40px;
  padding: 20px;
  background-color: honeydew;
  transition: box-shadow 0.2s ease;
}
.productContainer:hover {
  box-shadow: 5px 5px 20px green;
}
.product-img {
  width: 190px;
}
.btn {
  margin-top: 10px;
  background-color: #76b813;
  width: 150px;
  padding: 10px;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: green;
}
